.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  gap: 2rem;
}

.footerLink,
.copyText{
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--text-default);
}

.highlightLink {
  color: var(--primary);
}

.footerLink:hover {
  text-decoration: underline;
}