.button {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  color: var(--text-over-primary);
  border: none;
  outline: none;
  padding: 1rem 0;
  cursor: pointer;
  border-radius: .8rem;
  transition: filter 0.2s ease-in-out;
}

.button:hover {
  filter: brightness(75%);
}

.button:active {
  filter: brightness(100%);
}

.button svg {
  width: 2.6rem;
  height: 2.6rem;

}

.green {
  background-color: var(--primary);
}

.red {
  background-color: var(--error);
  color: var(--text-over-error);
}